doctype html
html
head
    title="Login"
body
        h2 Login to account
        p First Name:
        input#firstName.form-control(type="text", name="firstName")
        p Last Name:
        input#lastName.form-control(type="text", name="lastName")
        a(href= url)
            button(type="submit") Login